body{
    background-color: #414141;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: x-large;
}
button{
    padding:5px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100px;
}